<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Anil Project</title>
</head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" >
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <a class="navbar-brand" href="#">ANL</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">AnaSayfa <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <div class="my-2 my-lg-0">
              <a href="/register" class="btn btn btn-outline-primary my-2 my-sm-0" type="submit">Kayit Ol</a>
              <a href="/login" class="btn btn-outline-success my-2 my-sm-0" type="submit">Giris Yap</a>
    </div>
  </div>
</nav>
{% block content %}{% endblock %}
</body>
<script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}" ></script>
<script src="{{ url_for('static', filename='js/popper.min.js') }}" ></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" ></script>
</html>